<h2>Resources</h2>
<ul>
  <li><a href="https://docs.deque.com/devtools-for-web/4/en/devtools-extension" target="_blank"> Axe DevTools Browser Extension</a></li>
  <li><a href="https://github.com/component-driven/cypress-axe" target="_blank">Cypress-Axe: Test accessibility with axe-core in Cypress</a></li>
  <li><a href="https://github.com/dequelabs/axe-core" target="_blank">Axe-Core: Accessibility engine for automated Web UI testing</a></li>
  <li><a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank">Web Content Accessibility Guidelines (WCAG) international standard</a></li>
  <li><a href="https://www.w3.org/WAI/WCAG22/quickref/" target="_blank">WCAG Quick Reference</a></li>
</ul>
