header {
  background: #1093d9;
  padding: 20px 40px;
  text-align: center;
    .navigation-buttons {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
}

main {
  margin: 0 80px;
  padding: 5px 80px;
  min-height: 100%;
}

