
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$a11y-testing-demo-primary: mat.define-palette(mat.$indigo-palette);
$a11y-testing-demo-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$a11y-testing-demo-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$a11y-testing-demo-theme: mat.define-light-theme((
  color: (
    primary: $a11y-testing-demo-primary,
    accent: $a11y-testing-demo-accent,
    warn: $a11y-testing-demo-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($a11y-testing-demo-theme);

.button-style {
  appearance: auto;
  text-rendering: auto;
  color: buttontext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: block;
  text-align: center;
  align-items: flex-start;
  cursor: default;
  box-sizing: border-box;
  background-color: buttonface;
  margin: 0;
  padding-block: 1px;
  padding-inline: 6px;
  border-width: 1px;
  border-style: outset;
  border-color: buttonborder;
  border-image: initial;

  width: 100px;
  padding-top: 6px;
  border-radius: 5px;
}

.button-style:hover {
  background: #d6d6d6;
}

.example-img {
  width: 93px;
  height: 93px;
  border-radius: 10px;
  border: 2px dotted black;
  margin-top:20px;
}

ol, ul {
  padding-left: 30px;
  li {
    margin: 5px 0;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
